<html>
<head>
    <link rel="stylesheet" href="resource/omna/libs/bootstrap-3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="resource/omna/css/styles.css" />
</head>
<body>
<main>
    <div class="page-content">
        <div>
            <h4 class="breadcrumb">Flows:</h4>
            <div class="row">
                <div class="col-lg-12"> TODO: ...</div>
            </div>
        </div>

        <div>
            <h4 class="breadcrumb">Webhooks:</h4>
            <div class="row">
                <div class="col-lg-12"> TODO: ...</div>
            </div>
        </div>

        <div>
            <h4 class="breadcrumb">Tasks:</h4>
            <div class="row">
                <div class="col-lg-12"> TODO: ...</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>