.qx-omna-management .qx-omna-property-grid .qooxdoo-table-cell {
    padding-top: 3px;
}

.qooxdoo-table-cell img.gallery {
    margin-top: 4px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.qooxdoo-table-cell.task-message {
    overflow-y: auto;
    text-overflow: inherit;
    white-space: normal;
}

b.resource {
    text-transform: lowercase;
    font-weight: bold;
}

.qooxdoo-table-cell.integrations {
    overflow-y: auto;
    white-space: normal;
}

.qooxdoo-table-cell.integrations span {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 0px 5px;
    margin-right: 5px;
    margin-top: 4px;
    display: inline-table;
    color: black !important;
}

.qooxdoo-table-cell.integrations span:nth-child(odd) {
    background-color: lightcyan;
}

.qooxdoo-table-cell.integrations span:nth-child(even) {
    background-color: mintcream;
}

span.form-control {
    overflow-x: hidden !important;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.page-content {
    padding-right: 5px;
}